MercadoriaAtacadoIntegracaoBPEL/SOA/Schemas/Rma.xsd

<xsd:schema targetNamespace="http://service.ultra.com.br/atacado/MercadoriaAtacado/v1" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:tns="http://service.ultra.com.br/atacado/MercadoriaAtacado/v1">
    <xsd:complexType name="RmaType">
		<xsd:sequence>
			<xsd:element name="chaveNotaOrigem" type="xsd:string" minOccurs="1"/>
			<xsd:element name="dataEmissaoRma" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Rma" type="tns:RmaType"/>
</xsd:schema>