MDS/SOA/apps/Extrafarma/Retail/Comum/v1/Schemas/BrFulfilOrdCustDesc.xsd

<xs:schema elementFormDefault="qualified"
    targetNamespace="http://www.oracle.com/retail/integration/localization/bo/BrFulfilOrdCustDesc/v1"
    version="1.0"
    xmlns="http://www.oracle.com/retail/integration/localization/bo/BrFulfilOrdCustDesc/v1"
	xmlns:BrFulfilOrdPmtDesc="http://www.oracle.com/retail/integration/localization/bo/BrFulfilOrdPmtDesc/v1" 
    xmlns:EOfBrFulfilOrdCustDesc="http://www.oracle.com/retail/integration/custom/bo/EOfBrFulfilOrdCustDesc/v1"
    xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import
        namespace="http://www.oracle.com/retail/integration/custom/bo/EOfBrFulfilOrdCustDesc/v1" schemaLocation="EOfBrFulfilOrdCustDesc.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
	<xs:import namespace="http://www.oracle.com/retail/integration/localization/bo/BrFulfilOrdPmtDesc/v1" 
	schemaLocation="BrFulfilOrdPmtDesc.xsd">
		<retailDoc:annotation>
			<retailDoc:documentation>It's a referenced element. For detailed
				description, please refer referenced element doc.
			</retailDoc:documentation>
		</retailDoc:annotation>
	</xs:import>
    <xs:element name="BrFulfilOrdCustDesc">
		<retailDoc:annotation>
			<retailDoc:documentation>This object is used to communicate Brazil-specific customer details 
				related to a customer order fulfillment request from OMS to RMS and SIM.
			</retailDoc:documentation>
		</retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
				<xs:element minOccurs="0" name="cpf" type="varchar2120">
					<retailDoc:annotation>
						<retailDoc:documentation> Contains the customer's CPF for Brazil taxation.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="neighborhood" type="varchar2120">
					<retailDoc:annotation>
						<retailDoc:documentation> Contains the customer's neighborhood ID for Brazil taxation.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="ie_exempt" type="varchar21">
					<retailDoc:annotation>
						<retailDoc:documentation> Indicates whether the customer is exempted from Brazil sales tax.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="presence_ind" type="number4">
					<retailDoc:annotation>
						<retailDoc:documentation> This field holds the information about the Presence Ind.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="taxpayer_type" type="varchar21">
					<retailDoc:annotation>
						<retailDoc:documentation> This field holds the information about the Taxpayer Type.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="fiscal_address_information" type="varchar220">
					<retailDoc:annotation>
						<retailDoc:documentation> This field holds the information about the Fiscal Address.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="individual_taxpayer_id" type="varchar220">
					<retailDoc:annotation>
						<retailDoc:documentation> This Column holds the Uniqe ID of the Individual Tax Payer. </retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="corporate_taxpayer_id" type="varchar220">
					<retailDoc:annotation>
						<retailDoc:documentation> This Column holds the Uniqe ID of the Corporate Tax Payer. </retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="free_zone_of_manaus_inscptn_id" type="varchar220">
					<retailDoc:annotation>
						<retailDoc:documentation> This Column holds the information about the Free Zone Manaus Inscription ID.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="city_inscription_id" type="varchar220">
					<retailDoc:annotation>
						<retailDoc:documentation> This Column holds the information about the Country inscription ID.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="state_inscription_id" type="varchar220">
					<retailDoc:annotation>
						<retailDoc:documentation> This Column holds the information about the State inscription ID.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="contributor_type" type="varchar22">
					<retailDoc:annotation>
						<retailDoc:documentation> This column holds the information about the Contributor Type.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="tax_exception_type" type="varchar22">
					<retailDoc:annotation>
						<retailDoc:documentation> This column holds the information about the Tax Exception type.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="iss_contributor" type="varchar21">
					<retailDoc:annotation>
						<retailDoc:documentation> ISS contributor indicator. ISS is services tax.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="ipi_contributor" type="varchar21">
					<retailDoc:annotation>
						<retailDoc:documentation> IPI contributor indicator. IPI is federal excise tax.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="icms_contributor" type="varchar21">
					<retailDoc:annotation>
						<retailDoc:documentation> ICMI contributor indicator. ICMI is state sales tax.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="pis_contributor" type="varchar21">
					<retailDoc:annotation>
						<retailDoc:documentation> This Column hods the information about the PIS contributor.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="cofins_contributor" type="varchar21">
					<retailDoc:annotation>
						<retailDoc:documentation> This Column holds the information about the COFINS contributor. </retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="is_income_range_eligible" type="varchar21">
					<retailDoc:annotation>
						<retailDoc:documentation> Applicable only to supplier entities. Indicates whether the supplier income range is eligible 
						     for a reduction in tax basis.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="is_distributor_manufacturer" type="varchar21">
					<retailDoc:annotation>
						<retailDoc:documentation> Indicates if the distributor is also a manufacturer. Distributors have similar treatment for 
						     tax calculation as the manufacturer.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
			    <xs:element minOccurs="0" name="customers_cnae" type="varchar220">
					<retailDoc:annotation>
						<retailDoc:documentation> This Column holds the information about the Customer CNAE number.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="BrFulfilOrdPmtDesc:BrFulfilOrdPmtDesc">
					<retailDoc:annotation>
						<retailDoc:documentation>It's a referenced element. For
							detailed description, please refer referenced element doc.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="transaction_type" type="number2">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Code to drive the process when a NF is issued without movement of goods.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EOfBrFulfilOrdCustDesc:EOfBrFulfilOrdCustDesc">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to Customization of Localization FulfilOrdCustDesc</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
    <xs:simpleType name="varchar2120">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max
				length of 120 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="120" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar220">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max
				length of 20 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar21">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max
				length of 1 character.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="varchar22">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max
				length of 2 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2" />
	</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of 
			    digits count 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
          <xs:totalDigits value="4"/>
        </xs:restriction>
     </xs:simpleType>
     <xs:simpleType name="number2">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of 
			    digits count 2.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
        <xs:totalDigits value="2"/>
    </xs:restriction>
    </xs:simpleType>
</xs:schema>

