MDS/SOA/apps/Extrafarma/Retail/Comum/v1/Schemas/FulfilOrdDesc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/FulfilOrdDesc/v1" xmlns:FulfilOrdCustDesc="http://www.oracle.com/retail/integration/base/bo/FulfilOrdCustDesc/v1" xmlns:FulfilOrdDtl="http://www.oracle.com/retail/integration/base/bo/FulfilOrdDtl/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/FulfilOrdDesc/v1" version="1.0">
	<retailDoc:annotation>
		<retailDoc:documentation>This object is used to communicate customer order fulfillment details 
			from OMS to RMS and SIM.
		</retailDoc:documentation>
	</retailDoc:annotation>
	<xs:import namespace="http://www.oracle.com/retail/integration/base/bo/FulfilOrdCustDesc/v1" schemaLocation="FulfilOrdCustDesc.xsd">
		<retailDoc:annotation>
			<retailDoc:documentation>It's a referenced element. For detailed
				description, please refer referenced element doc.
			</retailDoc:documentation>
		</retailDoc:annotation>
	</xs:import>
	<xs:import namespace="http://www.oracle.com/retail/integration/base/bo/FulfilOrdDtl/v1" schemaLocation="FulfilOrdDtl.xsd">
		<retailDoc:annotation>
			<retailDoc:documentation>It's a referenced element. For detailed
				description, please refer referenced element doc.
			</retailDoc:documentation>
		</retailDoc:annotation>
	</xs:import>
	<xs:element name="FulfilOrdDesc">
		<retailDoc:annotation>
			<retailDoc:documentation>This object is used to communicate customer order fulfillment details from OMS to RMS and SIM.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="customer_order_no" type="varchar248">
					<retailDoc:annotation>
						<retailDoc:documentation>Holds the master customer order number from OMS.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="fulfill_order_no" type="varchar248">
					<retailDoc:annotation>
						<retailDoc:documentation>Unique number from OMS related to the fulfillment details. One or more fulfillment orders could relate back to a single customer order in OMS.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="source_loc_type" type="source_loc_type">
					<retailDoc:annotation>
						<retailDoc:documentation>This would be either 'SU' for supplier, 'ST' for store, or 'WH' for warehouse. This would only be populated for vendor, warehouse or multi-site fulfillment orders.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="source_loc_id" type="number10">
					<retailDoc:annotation>
						<retailDoc:documentation>Indicates the supplier, store or warehouse number associated with sourcing the customer order.  Only populated for vendor, warehouse or multi-site fulfillment orders.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="fulfill_loc_type" type="fulfill_loc_type">
					<retailDoc:annotation>
						<retailDoc:documentation>This would be either 'S' (for physical store) or 'V' (for virtual store).</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="fulfill_loc_id" type="number10">
					<retailDoc:annotation>
						<retailDoc:documentation>Indicates the store or warehouse number associated with fulfilling the customer order.  For this release, this should always be populated with a virtual or physical store number.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="partial_delivery_ind" type="yes_no_ind">
					<retailDoc:annotation>
						<retailDoc:documentation>Indicates if the order can be picked and shipped partially ('N') or if it should be shipped only when complete ('Y').</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="delivery_type" type="delivery_type">
					<retailDoc:annotation>
						<retailDoc:documentation>Indicates the fulfillment method - ship to customer or store pickup. Expected values are 'S' (ship direct) and 'C' (customer pickup).</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="carrier_code" type="varchar24">
					<retailDoc:annotation>
						<retailDoc:documentation>Indicates the carrier the order is to be shipped with, if specified on the order.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="carrier_service_code" type="varchar26">
					<retailDoc:annotation>
						<retailDoc:documentation>Indicates the method that was selected for shipping by the customer placing the order (e.g. Standard Shipping, Overnight, etc.).</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
                                <xs:element name="consumer_delivery_date" type="xs:dateTime">
					<retailDoc:annotation>
						<retailDoc:documentation>Indicates the desired date the delivery is required by the customer. This will be the GMT time.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="consumer_delivery_time" type="xs:dateTime">
					<retailDoc:annotation>
						<retailDoc:documentation>Indicates the desired time the delivery is required by the customer. This will be the GMT time.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="delivery_charges" type="number20_4">
					<retailDoc:annotation>
						<retailDoc:documentation>Contains the delivery charges on drop ship. Mostly relevant for Brazil.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="delivery_charges_curr" type="varchar23">
					<retailDoc:annotation>
						<retailDoc:documentation>Contains the currency of the delivery charges.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="comments" type="varchar22000">
					<retailDoc:annotation>
						<retailDoc:documentation>Any comments sent by OMS about the order.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>	
				<xs:element maxOccurs="1" minOccurs="0" ref="FulfilOrdCustDesc:FulfilOrdCustDesc">
					<retailDoc:annotation>
						<retailDoc:documentation> Referenced object for customer information related to the order.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="1" ref="FulfilOrdDtl:FulfilOrdDtl">
					<retailDoc:annotation>
						<retailDoc:documentation>References a collection of customer order fulfillment details.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="varchar248">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max
				length of 48 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="48"/>
		</xs:restriction>
	</xs:simpleType>
      <xs:simpleType name="source_loc_type">
		<retailDoc:annotation>
			<retailDoc:documentation>Defines a source location type. 'SU' for supplier, 'ST' for store, or 'WH' for warehouse. 
                  </retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
		<xs:maxLength value="2"/>
			<xs:enumeration value="SU"/>
			<xs:enumeration value="ST"/>
			<xs:enumeration value="WH"/>
		</xs:restriction>
	</xs:simpleType> 
      <xs:simpleType name="fulfill_loc_type">
		<retailDoc:annotation>
			<retailDoc:documentation>Defines a fulfillment location type. 'S' (for physical store) or 'V' (for virtual store).
                  </retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
		<xs:maxLength value="1"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="V"/>
		</xs:restriction>
	</xs:simpleType> 
      <xs:simpleType name="delivery_type">
		<retailDoc:annotation>
			<retailDoc:documentation>Defines a fulfillment method - ship to customer or store pickup. 'S' (ship direct) and 'C' (customer pickup).
                  </retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
		<xs:maxLength value="1"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType> 
      <xs:simpleType name="yes_no_ind">
		<retailDoc:annotation>
			<retailDoc:documentation>A yes/no dicator. 'Y' (yes) and 'N' (no).
                  </retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
		<xs:maxLength value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar22000">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max
				length of 2000 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar24">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max
				length of 4 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar23">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max
				length of 3 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar26">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max
				length of 6 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number10">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a number of digits
				count 10.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:long">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number20_4">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a number of digits
				count of 20 and decimal count of 4.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
