MDS/SOA/apps/Extrafarma/Retail/Comum/v1/Schemas/ShipInfoDesc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.oracle.com/retail/integration/base/bo/ShipInfoDesc/v1"
	xmlns:retailDoc="http://www.w3.org/2001/XMLSchema"
	xmlns:ExtOfShipInfoDesc="http://www.oracle.com/retail/integration/custom/bo/ExtOfShipInfoDesc/v1"
	elementFormDefault="qualified"
	targetNamespace="http://www.oracle.com/retail/integration/base/bo/ShipInfoDesc/v1"
	version="1.2">
	<retailDoc:annotation>
		<retailDoc:documentation>This is root element of this document which
			contains name space definitions for the document elements.
		</retailDoc:documentation>
	</retailDoc:annotation>
	<xs:import
		namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfShipInfoDesc/v1"
		schemaLocation="../../../../custom/bo/ExtOfShipInfoDesc/v1/ExtOfShipInfoDesc.xsd">
		<retailDoc:annotation>
			<retailDoc:documentation>Additional information about Shipment
			</retailDoc:documentation>
		</retailDoc:annotation>
	</xs:import>
	<xs:element name="ShipInfoUin">
		<retailDoc:annotation>
			<retailDoc:documentation>Contains UIN information.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="uin" type="varchar2128">
					<retailDoc:annotation>
						<retailDoc:documentation>Universal Identification Number.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShipInfoItem">
		<retailDoc:annotation>
			<retailDoc:documentation>Description is not available.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="item_id" type="varchar225">
					<retailDoc:annotation>
						<retailDoc:documentation>Unique identifier for the item.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="unit_qty" type="number12_4">
					<retailDoc:annotation>
						<retailDoc:documentation>Contains the number of items expected to
							be received based on the supplier's advance shipment notification
							for this item/shipment combination.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="priority_level" type="number1">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="order_line_nbr" type="number4">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="lot_nbr" type="varchar220">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="container_qty" type="number6">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="weight" type="number12_4">
					<retailDoc:annotation>
						<retailDoc:documentation>Actual weight shipped.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="weight_uom" type="varchar24">
					<retailDoc:annotation>
						<retailDoc:documentation>Unit of measurement for weight (e.g.
							pounds, kilograms) shipped.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="ShipInfoUin">
					<retailDoc:annotation>
						<retailDoc:documentation>Collection of UIN(s) associated to the
							item.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0"
					ref="ExtOfShipInfoDesc:ExtOfShipInfoItem">
					<retailDoc:annotation>
						<retailDoc:documentation>Additional information about Items
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShipInfoCtn">
		<retailDoc:annotation>
			<retailDoc:documentation>Description is not available.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="final_location" type="varchar210">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="container_id" type="varchar220">
					<retailDoc:annotation>
						<retailDoc:documentation>Identifies the UCC-128 carton number for
							shipments originating from the Advance Shipment Notification
							process as carton shipments. This field will be zero for all
							shipments that are not at a carton level.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="container_weight" type="number12_4">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="container_length" type="number12_4">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="container_width" type="number12_4">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="container_height" type="number12_4">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="container_cube" type="number12_2">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="expedite_flag" type="varchar21">
					<retailDoc:annotation>
						<retailDoc:documentation>Indicates if the shipment should be
							expedited. For transfers, the value will be 'Y' if the transfer's
							freight_code is 'E'; otherwise 'N'. For allocations, the field is
							mapped to alloc_detail.rush_flag.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="in_store_date" type="xs:dateTime">
					<retailDoc:annotation>
						<retailDoc:documentation>For transfers, the value is always NULL.
							For allocations, the value is alloc_detail.in_store_date.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="tracking_nbr" type="varchar2120">
					<retailDoc:annotation>
						<retailDoc:documentation>This is a unique tracking number that is
							used to track containers through carriers system.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="freight_charge" type="number20_4">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="master_container_id"
					type="varchar220">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="comments" type="varchar22000">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="weight" type="number12_4">
					<retailDoc:annotation>
						<retailDoc:documentation>Actual weight shipped for the container.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="weight_uom" type="varchar24">
					<retailDoc:annotation>
						<retailDoc:documentation>Unit of measurement for weight (e.g.
							pounds, kilograms) that was shipped.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" ref="ShipInfoItem">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShipInfoDistro">
		<retailDoc:annotation>
			<retailDoc:documentation>Description is not available.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="distro_nbr" type="varchar212">
					<retailDoc:annotation>
						<retailDoc:documentation>Specifies the transfer or allocation
							number associated with the shipment/item/carton.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="distro_doc_type" type="varchar21">
					<retailDoc:annotation>
						<retailDoc:documentation>Specifies what the distro_nbr field
							corresponds to in RMS: V, D, and T specify transfer, A specifies
							Allocation.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="cust_order_nbr" type="varchar248">
					<retailDoc:annotation>
						<retailDoc:documentation>This is the customer order number that
							was generated by OMS and contains multiple fulfillment numbers.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="fulfill_order_nbr" type="varchar248">
					<retailDoc:annotation>
						<retailDoc:documentation>Based on a customer order - OMS will
							generate fulfillments to specific locations based on
							availability. RMS will generate Transfers based on the
							fulfillment request.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="consumer_direct" type="varchar21">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="comments" type="varchar22000">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" ref="ShipInfoCtn">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShipInfoDesc">
		<retailDoc:annotation>
			<retailDoc:documentation>Description is not available.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="to_loc_type" type="varchar22">
					<retailDoc:annotation>
						<retailDoc:documentation>Contains the to_location type. Valid
							values are SU, ST, WH.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="to_location" type="varchar210">
					<retailDoc:annotation>
						<retailDoc:documentation>Contains the location that the shipment
							will be delivered to.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="from_loc_type" type="varchar22">
					<retailDoc:annotation>
						<retailDoc:documentation>Contains the from_location type. Valid
							values are SU, ST, WH.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="from_location" type="varchar210">
					<retailDoc:annotation>
						<retailDoc:documentation>For transfer and allocation shipments,
							this field will hold the location from which the shipment was
							sourced.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="asn_nbr" type="varchar230">
					<retailDoc:annotation>
						<retailDoc:documentation>Holds the bill of lading number
							associated with a shipment.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="asn_type" type="varchar21">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS. Set to C for container
							when ship to location is a store, T for tare when ship to
							location is a warehouse.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="container_qty" type="number6">
					<retailDoc:annotation>
						<retailDoc:documentation>Contains the number of boxes associated
							with the shipment.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="bol_nbr" type="varchar217">
					<retailDoc:annotation>
						<retailDoc:documentation>Holds the transaction sequence number on
							the message from the transfer shipment confirmation process.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="shipment_date" type="xs:dateTime">
					<retailDoc:annotation>
						<retailDoc:documentation>This field contains the date the transfer
							or PO was shipped.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="est_arr_date" type="xs:dateTime">
					<retailDoc:annotation>
						<retailDoc:documentation>This field contains the estimated arrival
							date of a vendor PO shipment. It is updated by EDIUP856. It is
							used for vendor/lead time analysis.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="ship_address1" type="varchar2240">
					<retailDoc:annotation>
						<retailDoc:documentation>Value of addr.add_1 for store/warehouse
							number in addr.key_value_1 and addr.module 'ST' (if to_loc_type
							is store) or 'WH' (if to_loc_type is warehouse)
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="ship_address2" type="varchar2240">
					<retailDoc:annotation>
						<retailDoc:documentation>Value of addr.add_2 for store/warehouse
							number in addr.key_value_1 and addr.module 'ST' (if to_loc_type
							is store) or 'WH' (if to_loc_type is warehouse)
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="ship_address3" type="varchar2240">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="ship_address4" type="varchar2240">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="ship_address5" type="varchar2240">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="ship_city" type="varchar2120">
					<retailDoc:annotation>
						<retailDoc:documentation>Value of addr.city for store/warehouse
							number in addr.key_value_1 and addr.module 'ST' (if to_loc_type
							is store) or 'WH' (if to_loc_type is warehouse)
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="ship_state" type="varchar23">
					<retailDoc:annotation>
						<retailDoc:documentation>Value of addr.state for store/warehouse
							number in addr.key_value_1 and addr.module 'ST' (if to_loc_type
							is store) or 'WH' (if to_loc_type is warehouse)
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="ship_zip" type="varchar230">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="ship_country_id" type="varchar23">
					<retailDoc:annotation>
						<retailDoc:documentation>Value of addr.country_id for
							store/warehouse number in addr.key_value_1 and addr.module 'ST'
							(if to_loc_type is store) or 'WH' (if to_loc_type is warehouse)
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="trailer_nbr" type="varchar212">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="seal_nbr" type="varchar212">
					<retailDoc:annotation>
						<retailDoc:documentation>Not used by RMS.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="carrier_code" type="varchar24">
					<retailDoc:annotation>
						<retailDoc:documentation>Contains the courier that will deliver
							the shipment.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="carrier_service_code" type="varchar26">
					<retailDoc:annotation>
						<retailDoc:documentation>Contains the service level code for the
							courier that will deliver the shipment.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="printer_id" type="varchar2120">
					<retailDoc:annotation>
						<retailDoc:documentation>Contains the valid printer id.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="print_pkg_stn_req" type="varchar230">
					<retailDoc:annotation>
						<retailDoc:documentation>Indicates NF needs to be printed at
							packing station. Also indicates that container number needs to be
							printed on NF.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="home_dlvry_ind" type="varchar21">
					<retailDoc:annotation>
						<retailDoc:documentation>Indicates whether the shipment is slated
							for home delivery or not.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0"
					ref="ShipInfoDistro">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="comments" type="varchar22000">
					<retailDoc:annotation>
						<retailDoc:documentation>Contains any miscellaneous comments about
							the shipment.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0"
					ref="ExtOfShipInfoDesc:ExtOfShipInfoDesc">
					<retailDoc:annotation>
						<retailDoc:documentation>Additional information about ShipInfo
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="varchar225">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				25 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number12_4">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a number of digits count
				12 and fraction digit count of 4.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="12" />
			<xs:fractionDigits value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number12_2">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a number of digits count
				12 and fraction digit count of 2.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="12" />
			<xs:fractionDigits value="2" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar210">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				10 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar2240">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				240 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="240" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar220">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				20 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number4">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a number of digits count
				4.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:int">
			<xs:totalDigits value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number8">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a number of digits count
				8.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:int">
			<xs:totalDigits value="8" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar217">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				17 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="17" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar230">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				30 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number6">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a number of digits count
				6.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:int">
			<xs:totalDigits value="6" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar23">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				3 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar2120">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				120 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="120" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar212">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				12 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar24">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				4 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar22">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				2 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar26">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				6 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar22000">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				2000 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar216">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				16 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number20_4">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a number of digits count
				20 and fraction digit count of 4.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20" />
			<xs:fractionDigits value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number1">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a number of digits count
				1.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:int">
			<xs:totalDigits value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar21">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				1 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar248">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				48 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="48" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar2128">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				128 characters.
			</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="128" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
