LojasIntegracaoBPEL/SOA/WADLs/AtualizacaoLojasRestReference.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="RestReference">RestReference</doc>
   <resources>
      <resource path="alteracao">
         <method name="PUT" soa:name="alteracao">
            <request>
               <representation mediaType="application/json"/>
               <representation mediaType="*/*"/>
               <representation mediaType="application/xml"/>
               <representation mediaType="application/x-www-form-urlencoded"/>
            </request>
            <response/>
            <response/>
         </method>
      </resource>
      <resource path="criacao">
         <method name="POST" soa:name="criacao">
            <request>
               <representation mediaType="application/json"/>
               <representation mediaType="*/*"/>
               <representation mediaType="application/xml"/>
               <representation mediaType="application/x-www-form-urlencoded"/>
            </request>
            <response/>
            <response/>
         </method>
      </resource>
      <resource path="endereco/alteracao">
         <method name="PUT" soa:name="alteracaoEndereco">
            <request>
               <representation mediaType="application/json"/>
               <representation mediaType="*/*"/>
               <representation mediaType="application/xml"/>
               <representation mediaType="application/x-www-form-urlencoded"/>
            </request>
            <response/>
            <response/>
         </method>
      </resource>
      <resource path="endereco/exclusao">
         <method name="DELETE" soa:name="exclusaoEndereco">
            <request/>
            <response/>
            <response/>
         </method>
      </resource>
      <resource path="exclusao">
         <method name="DELETE" soa:name="exclusao">
            <request/>
            <response/>
            <response/>
         </method>
      </resource>
   </resources>
</application>
