LojasIntegracaoBPEL/SOA/WADLs/AtualizacaoLojasRestReference.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="RestReference">RestReference</doc>
   <resources>
      <resource path="">
         <method name="POST" soa:name="criar">
            <request>
               <representation mediaType="application/json"/>
               <representation mediaType="*/*"/>
               <representation mediaType="application/xml"/>
               <representation mediaType="application/x-www-form-urlencoded"/>
            </request>
            <response/>
            <response/>
         </method>
      </resource>
      <resource path="status">
         <method name="GET" soa:name="status">
            <request/>
            <response>
               <representation mediaType="application/json"/>
               <representation mediaType="*/*"/>
               <representation mediaType="application/xml"/>
            </response>
            <response/>
         </method>
      </resource>
      <resource path="{idLoja}">
         <method name="PUT" soa:name="alterar">
            <request>
               <param name="idLoja" style="template" type="xsd:int"/>
               <representation mediaType="application/json"/>
               <representation mediaType="*/*"/>
               <representation mediaType="application/xml"/>
               <representation mediaType="application/x-www-form-urlencoded"/>
            </request>
            <response/>
            <response/>
         </method>
      </resource>
      <resource path="{idLoja}">
         <method name="DELETE" soa:name="excluir">
            <request>
               <param name="idLoja" style="template" type="xsd:int"/>
            </request>
            <response/>
            <response/>
         </method>
      </resource>
      <resource path="{idLoja}/endereco/{idEndereco}">
         <method name="PUT" soa:name="alterarEndereco">
            <request>
               <param name="idLoja" style="template" type="xsd:int"/>
               <param name="idEndereco" style="template" type="xsd:int"/>
               <representation mediaType="application/json"/>
               <representation mediaType="*/*"/>
               <representation mediaType="application/xml"/>
               <representation mediaType="application/x-www-form-urlencoded"/>
            </request>
            <response/>
            <response/>
         </method>
      </resource>
      <resource path="{idLoja}/endereco/{idEndereco}">
         <method name="DELETE" soa:name="excluirEndereco">
            <request>
               <param name="idLoja" style="template" type="xsd:int"/>
               <param name="idEndereco" style="template" type="xsd:int"/>
            </request>
            <response/>
            <response/>
         </method>
      </resource>
   </resources>
</application>
