IdentificaServicoRetailIntegracaoBPEL/SOA/Schemas/EXFNFInfoDesc.xsd

<xs:schema elementFormDefault="qualified"
    targetNamespace="http://www.oracle.com/retail/integration/base/bo/EXFNFInfoDesc/v1"
    version="1.0"
    xmlns="http://www.oracle.com/retail/integration/base/bo/EXFNFInfoDesc/v1"
    xmlns:EXFItemDesc="http://www.oracle.com/retail/integration/base/bo/EXFItemDesc/v1"
    xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
	<xs:import
        namespace="http://www.oracle.com/retail/integration/base/bo/EXFItemDesc/v1" schemaLocation="EXFItemDesc.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>Additional information about Lot Information</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:element name="EXFNFInfoDesc">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="fiscal_doc_no" type="number15">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Access key provided by fiscal partners solution.</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="series_no" type="varchar220">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Access key provided by fiscal partners solution.</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="location_id" type="number10">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Location identifier (Warehouse or Store)</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="issue_cnpj" type="varchar214">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Access key provided by fiscal partners solution.</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="issue_date" type="xs:dateTime">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Access key provided by fiscal partners solution.</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="nf_cfop" type="varchar212">
			        <retailDoc:annotation>
			            <retailDoc:documentation>NF CFOP</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="key_value_1" type="varchar210">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Client code</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="net_weight" type="number12_4">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Net weight</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="total_weight" type="number12_4">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Total weight</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="ref_no_1" type="varchar230">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Reason code</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="total_discount_value" type="number20_4">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Informed total discount value of the fiscal document</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="total_item_value" type="number20_4">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Informed total item value of the fiscal document</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="total_doc_value" type="number20_4">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Informed total value of the fiscal document</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="printer_id" type="varchar2200">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Printer ID</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="nfe_access_key" type="varchar244">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Access key provided by fiscal partners solution.</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="nfe_protocol" type="number15">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Autorization protocol from NF</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
            	<xs:element minOccurs="0" maxOccurs="unbounded" ref="EXFNFInfoDtl">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NF Detail Information</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="EXFNFInfoDtl">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="line_no" type="number6">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Line Number.</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="requisition_no" type="number15">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Requisition Number.</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="item" type="varchar225">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Item ID</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="quantity" type="number12_4">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Item quantity</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="unit_cost_with_desc" type="number20_4">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Item price with discount</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="total_cost" type="number20_4">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Item price with discount</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
                <xs:element minOccurs="0" name="ref_doc_no" type="varchar244">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Access key from reference nf</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
			    <xs:element minOccurs="0" maxOccurs="unbounded" ref="EXFItemDesc:EXFLotInfoDesc">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Lot Information</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="EXFNFApproved">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ref_no" type="number8">
			        <retailDoc:annotation>
			            <retailDoc:documentation>Schedule No or reference number from a nf (DNF/FFNF)group</retailDoc:documentation>
			        </retailDoc:annotation>
			    </xs:element>
            	<xs:element minOccurs="0" maxOccurs="unbounded" ref="EXFNFInfoDesc">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Item Detail Information</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	<xs:simpleType name="number6">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a number of digits count 6.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:long">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number8">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a number of digits count 8.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:long">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="number10">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number12_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="number15">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a number of digits count 15.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:long">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="number20_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="20"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar220">
       <retailDoc:annotation>
           <retailDoc:documentation>This type can hold a string of max length of 44 characters.</retailDoc:documentation>
       </retailDoc:annotation>
       <xs:restriction base="xs:string">
           <xs:maxLength value="20"/>
       </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar225">
       <retailDoc:annotation>
           <retailDoc:documentation>This type can hold a string of max length of 44 characters.</retailDoc:documentation>
       </retailDoc:annotation>
       <xs:restriction base="xs:string">
           <xs:maxLength value="25"/>
       </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar214">
       <retailDoc:annotation>
          <retailDoc:documentation>This type can hold a string of max length of 44 characters.</retailDoc:documentation>
       </retailDoc:annotation>
       <xs:restriction base="xs:string">
          <xs:maxLength value="14"/>
       </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar244">
       <retailDoc:annotation>
           <retailDoc:documentation>This type can hold a string of max length of 44 characters.</retailDoc:documentation>
       </retailDoc:annotation>
       <xs:restriction base="xs:string">
           <xs:maxLength value="44"/>
       </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar212">
       <retailDoc:annotation>
          <retailDoc:documentation>This type can hold a string of max length of 12 characters.</retailDoc:documentation>
       </retailDoc:annotation>
       <xs:restriction base="xs:string">
          <xs:maxLength value="12"/>
       </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar210">
       <retailDoc:annotation>
          <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
       </retailDoc:annotation>
       <xs:restriction base="xs:string">
          <xs:maxLength value="10"/>
       </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar230">
       <retailDoc:annotation>
          <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
       </retailDoc:annotation>
       <xs:restriction base="xs:string">
          <xs:maxLength value="30"/>
       </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2200">
       <retailDoc:annotation>
          <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
       </retailDoc:annotation>
       <xs:restriction base="xs:string">
          <xs:maxLength value="200"/>
       </xs:restriction>
    </xs:simpleType>
</xs:schema>
