MDS/SOA/apps/Extrafarma/Retail/RecebimentoNFCompra/v1/WSDLs/RecebimentoNFCompraV1.wsdl

<wsdl:definitions name="RecebimentoNFCompra" targetNamespace="http://service.ultra.com.br/logistica/RecebimentoNFCompra/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.ultra.com.br/logistica/RecebimentoNFCompra/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="http://www.oracle.com/retail/integration/rib/RibMessages" xmlns:Q2="http://service.ultra.com.br/infcorp/LogIntegration/v1" xmlns:Q3="http://canonico.ultra.com.br/infcorp/v1" xmlns:Q4="http://schemas.datacontract.org/2004/07/Wsdl.Integration">
    <wsp:Policy wsu:Id="wss_username_token_over_ssl_service_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
        <sp:UsernameToken>
            <wsp:Policy>
                <sp:WssUsernameToken11/>
            </wsp:Policy>
        </sp:UsernameToken>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://service.ultra.com.br/logistica/RecebimentoNFCompra/v1" elementFormDefault="qualified">
            <xsd:import schemaLocation="../../../Comum/v1/Schemas/RibMessages.xsd" namespace="http://www.oracle.com/retail/integration/rib/RibMessages"/>
            <xsd:import schemaLocation="../../../Comum/v1/Schemas/Fault.xsd" namespace="http://canonico.ultra.com.br/infcorp/v1"/>
            <xsd:import schemaLocation="../../../Comum/v1/Schemas/MetaInformacao.xsd" namespace="http://service.ultra.com.br/infcorp/LogIntegration/v1"/>
            <xsd:import schemaLocation="../../../Comum/v1/Schemas/LegadoOutput.xsd" namespace="http://schemas.datacontract.org/2004/07/Wsdl.Integration"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="AutorizarRecebimentoNFCompraRequest">
        <wsdl:part name="parameters" element="Q1:RibMessages"/>
    </wsdl:message>
    <wsdl:message name="AutorizarRecebimentoNFCompraResponse">
        <wsdl:part name="parameters" element="Q4:RetornoServico"/>
    </wsdl:message>
    <wsdl:message name="AutorizarRecebimentoNFCompraFaultMsg">
        <wsdl:part name="AutorizarRecebimentoNFCompraFault" element="Q3:Fault"/>
    </wsdl:message>
    <wsdl:message name="requestHeader">
        <wsdl:part name="parameters" element="Q2:MetaInformacao"/>
    </wsdl:message>
    <wsdl:portType name="RecebimentoNFCompraPortType">
        <wsdl:operation name="autorizarRecebimentoNFCompra">
            <wsdl:input message="tns:AutorizarRecebimentoNFCompraRequest"/>
            <wsdl:output message="tns:AutorizarRecebimentoNFCompraResponse"/>
            <wsdl:fault name="AutorizarRecebimentoNFCompraFault" message="tns:AutorizarRecebimentoNFCompraFaultMsg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RecebimentoNFCompraPortBinding" type="tns:RecebimentoNFCompraPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="autorizarRecebimentoNFCompra">
            <soap:operation soapAction="http://service.ultra.com.br/RecebimentoNFCompra/v1/autorizarRecebimentoNFCompra"/>
            <wsdl:input>
                <soap:header message="tns:requestHeader" part="parameters" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AutorizarRecebimentoNFCompraFault">
                <soap:fault name="AutorizarRecebimentoNFCompraFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecebimentoNFCompraService">
        <wsdl:port name="RecebimentoNFCompraPort" binding="tns:RecebimentoNFCompraPortBinding">
            <soap:address location="http://service.ultra.com.br/logistica/RecebimentoNFCompra/v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>