MDS/SOA/apps/Extrafarma/Retail/ExpedicaoMercadoria/v1/Schemas/Container.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://service.ultra.com.br/logistica/ExpedicaoMercadoria/v1"
            targetNamespace="http://service.ultra.com.br/logistica/ExpedicaoMercadoria/v1">
  <xsd:include schemaLocation="Item.xsd"/>
  <xsd:complexType name="containerType">
    <xsd:sequence>
      <xsd:element name="codigoContainer" type="xsd:string"/>
      <xsd:element name="ItemList" type="tns:ItemType"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Container" type="tns:containerType"/>
</xsd:schema>
