MDS/SOA/apps/Extrafarma/Retail/PedidoReserva/v1/WSDLs/PedidoReservaV1.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PedidoReserva"
     targetNamespace="http://service.ultra.com.br/atacado/PedidoReserva/v1"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:tns="http://service.ultra.com.br/atacado/PedidoReserva/v1"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:Q2="http://service.ultra.com.br/infcorp/LogIntegration/v1"
     xmlns:Q3="http://canonico.ultra.com.br/infcorp/v1"
     xmlns:Q4="http://schemas.datacontract.org/2004/07/Wsdl.Integration"
     xmlns:rib="http://www.oracle.com/retail/integration/rib/RibMessages"
    >
    <wsp:Policy wsu:Id="wss_username_token_over_ssl_service_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
         xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
         xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
        <sp:UsernameToken>
            <wsp:Policy>
                <sp:WssUsernameToken11/>
            </wsp:Policy>
        </sp:UsernameToken>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://service.ultra.com.br/atacado/PedidoReserva/v1" elementFormDefault="qualified">
            <xsd:include schemaLocation="../Schemas/PedidoReservaEBMV1.xsd"/>
            <xsd:import schemaLocation="../../../Comum/v1/Schemas/Fault.xsd" namespace="http://canonico.ultra.com.br/infcorp/v1"/>
            <xsd:import schemaLocation="../../../Comum/v1/Schemas/MetaInformacao.xsd" namespace="http://service.ultra.com.br/infcorp/LogIntegration/v1"/>
            <xsd:import schemaLocation="../../../Comum/v1/Schemas/LegadoOutput.xsd" namespace="http://schemas.datacontract.org/2004/07/Wsdl.Integration"/>
            <xsd:import schemaLocation="../Schemas/RibMessages.xsd" namespace="http://www.oracle.com/retail/integration/rib/RibMessages"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CriarPedidoReservaRequest">
        <wsdl:part name="parameters" element="tns:CriarPedidoReservaRequest"/>
    </wsdl:message>
    <wsdl:message name="CriarPedidoReservaResponse">
        <wsdl:part name="parameters" element="tns:CriarPedidoReservaResponse"/>
    </wsdl:message>
    <wsdl:message name="CriarPedidoReservaFaultMsg">
        <wsdl:part name="CriarPedidoReservaFault" element="Q3:Fault"/>
    </wsdl:message>
    <wsdl:message name="CancelarPedidoReservaRequest">
        <wsdl:part name="parameters" element="tns:CancelarPedidoReservaRequest"/>
    </wsdl:message>
    <wsdl:message name="CancelarPedidoReservaResponse">
        <wsdl:part name="parameters" element="tns:CancelarPedidoReservaResponse"/>
    </wsdl:message>
    <wsdl:message name="CancelarPedidoReservaFaultMsg">
        <wsdl:part name="CancelarPedidoReservaFault" element="Q3:Fault"/>
    </wsdl:message>
    <wsdl:message name="ConfirmarPedidoReservaRequest">
        <wsdl:part name="parameters" element="rib:RibMessages"/>
    </wsdl:message>
    <wsdl:message name="ConfirmarPedidoReservaResponse">
        <wsdl:part name="parameters" element="Q4:RetornoServico"/>
    </wsdl:message>
    <wsdl:message name="ConfirmarPedidoReservaFaultMsg">
        <wsdl:part name="ConfirmarPedidoReservaFault" element="Q3:Fault"/>
    </wsdl:message>
    <wsdl:message name="requestHeader">
        <wsdl:part name="parameters" element="Q2:MetaInformacao"/>
    </wsdl:message>
    <wsdl:portType name="PedidoReservaPortType">
        <wsdl:operation name="criarPedidoReserva">
            <wsdl:input message="tns:CriarPedidoReservaRequest"/>
            <wsdl:output message="tns:CriarPedidoReservaResponse"/>
            <wsdl:fault name="CriarPedidoReservaFault" message="tns:CriarPedidoReservaFaultMsg"/>
        </wsdl:operation>
        <wsdl:operation name="cancelarPedidoReserva">
            <wsdl:input message="tns:CancelarPedidoReservaRequest"/>
            <wsdl:output message="tns:CancelarPedidoReservaResponse"/>
            <wsdl:fault name="CancelarPedidoReservaFault" message="tns:CancelarPedidoReservaFaultMsg"/>
        </wsdl:operation>
        <wsdl:operation name="confirmarPedidoReserva">
            <wsdl:input message="tns:ConfirmarPedidoReservaRequest"/>
            <wsdl:output message="tns:ConfirmarPedidoReservaResponse"/>
            <wsdl:fault name="ConfirmarPedidoReservaFault" message="tns:ConfirmarPedidoReservaFaultMsg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PedidoReservaPortBinding" type="tns:PedidoReservaPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="criarPedidoReserva">
            <soap:operation soapAction="http://service.ultra.com.br/PedidoReserva/v1/criarPedidoReserva"/>
            <wsdl:input>
                <soap:header message="tns:requestHeader" part="parameters" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CriarPedidoReservaFault">
                <soap:fault name="CriarPedidoReservaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="cancelarPedidoReserva">
            <soap:operation soapAction="http://service.ultra.com.br/PedidoReserva/v1/cancelarPedidoReserva"/>
            <wsdl:input>
                <soap:header message="tns:requestHeader" part="parameters" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CancelarPedidoReservaFault">
                <soap:fault name="CancelarPedidoReservaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="confirmarPedidoReserva">
            <soap:operation soapAction="http://service.ultra.com.br/PedidoReserva/v1/confirmarPedidoReserva"/>
            <wsdl:input>
                <soap:header message="tns:requestHeader" part="parameters" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ConfirmarPedidoReservaFault">
                <soap:fault name="ConfirmarPedidoReservaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PedidoReservaService">
        <wsdl:port name="PedidoReservaPort" binding="tns:PedidoReservaPortBinding">
            <soap:address location="http://service.ultra.com.br/atacado/PedidoReserva/v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
