MDS/SOA/apps/Extrafarma/Retail/PedidoReserva/v1/Schemas/DadoFiscalCliente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://service.ultra.com.br/atacado/PedidoReserva/v1"
            xmlns:tns="http://service.ultra.com.br/atacado/PedidoReserva/v1">
  <xsd:include schemaLocation="../Schemas/DadoFiscalDetalhe.xsd"/>
  <xsd:complexType name="DadoFiscalClienteType">
    <xsd:sequence>
      <xsd:element name="DadosFiscaisDetalheList" type="tns:DadoFiscalDetalheType" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DadoFiscalCliente" type="tns:DadoFiscalClienteType"></xsd:element>
</xsd:schema>