MDS/SOA/apps/Extrafarma/Retail/PedidoReserva/v1/Schemas/Pagamento.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://service.ultra.com.br/atacado/PedidoReserva/v1"
            xmlns:tns="http://service.ultra.com.br/atacado/PedidoReserva/v1">
  <xsd:complexType name="PagamentoType">
    <xsd:sequence>
      <xsd:element name="metodoPagamento" type="xsd:string" minOccurs="1"/>
      <xsd:element name="quantidadePagamento" type="xsd:double" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Pagamento" type="tns:PagamentoType"></xsd:element>
</xsd:schema>