PontualInventarioIntegracaoBPEL/SOA/Schemas/LoteItem.xsd

<xsd:schema targetNamespace="http://service.ultra.com.br/estoque/PontualInventario/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.ultra.com.br/estoque/PontualInventario/v1">
        <xsd:include schemaLocation="LoteItemDetalhe.xsd"/>
	<xsd:complexType name="LoteItemType">
		<xsd:sequence>
			<xsd:element name="LoteItemDetalheList" type="tns:LoteItemDetalheType" maxOccurs="unbounded" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="LoteItem" type="tns:LoteItemType"/>
</xsd:schema>