MDS/SOA/apps/Extrafarma/Retail/CriacaoTransferenciaMercadoria/v1/WSDLs/CriacaoTransferenciaMercadoriaCDV1.wsdl

<wsdl:definitions targetNamespace="http://service.ultra.com.br/logistica/CriacaoTransferenciaMercadoriaCD/v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://service.ultra.com.br/logistica/CriacaoTransferenciaMercadoriaCD/v1"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:Q1="http://www.oracle.com/retail/integration/rib/RibMessages"
                  xmlns:Q2="http://service.ultra.com.br/infcorp/LogIntegration/v1"
                  xmlns:Q3="http://canonico.ultra.com.br/infcorp/v1"
                  xmlns:Q4="http://schemas.datacontract.org/2004/07/Wsdl.Integration">
  <wsp:Policy wsu:Id="wss_username_token_over_ssl_service_policy"
              xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
              xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
              xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
    <sp:UsernameToken>
      <wsp:Policy>
        <sp:WssUsernameToken11/>
      </wsp:Policy>
    </sp:UsernameToken>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.ultra.com.br/logistica/CriacaoTransferenciaMercadoriaCD/v1"
                elementFormDefault="qualified">
      <xsd:import schemaLocation="../../../Comum/v1/Schemas/RibMessage.xsd"
                  namespace="http://www.oracle.com/retail/integration/rib/RibMessages"/>
      <xsd:import schemaLocation="../../../Comum/v1/Schemas/Fault.xsd"
                  namespace="http://canonico.ultra.com.br/infcorp/v1"/>
      <xsd:import schemaLocation="../../../Comum/v1/Schemas/MetaInformacao.xsd"
                  namespace="http://service.ultra.com.br/infcorp/LogIntegration/v1"/>
      <xsd:import schemaLocation="../../../Comum/v1/Schemas/LegadoOutput.xsd"
                  namespace="http://schemas.datacontract.org/2004/07/Wsdl.Integration"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CriarTransferenciaMercadoriaCDRequest">
    <wsdl:part name="parameters" element="Q1:RibMessages"/>
  </wsdl:message>
  <wsdl:message name="CriarTransferenciaMercadoriaCDResponse">
    <wsdl:part name="parameters" element="Q4:RetornoServico"/>
  </wsdl:message>
  <wsdl:message name="CriarTransferenciaMercadoriaCDFaultMsg">
    <wsdl:part name="CriarTransferenciaMercadoriaCDFault" element="Q3:Fault"/>
  </wsdl:message>
  <wsdl:message name="requestHeader">
    <wsdl:part name="parameters" element="Q2:MetaInformacao"/>
  </wsdl:message>
  <wsdl:portType name="CriarTransferenciaMercadoriaCDPortType">
    <wsdl:operation name="criarTransferenciaMercadoriaCD">
      <wsdl:input message="tns:CriarTransferenciaMercadoriaCDRequest"/>
      <wsdl:output message="tns:CriarTransferenciaMercadoriaCDResponse"/>
      <wsdl:fault name="CriarTransferenciaMercadoriaCDFault"
                  message="tns:CriarTransferenciaMercadoriaCDFaultMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CriarTransferenciaMercadoriaCDPortBinding" type="tns:CriarTransferenciaMercadoriaCDPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="criarTransferenciaMercadoriaCD">
      <soap:operation soapAction="http://service.ultra.com.br/CriarTransferenciaMercadoriaCD/v1/criarTransferenciaMercadoriaCD"/>
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="parameters" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CriarTransferenciaMercadoriaCDFault">
        <soap:fault name="CriarTransferenciaMercadoriaCDFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CriarTransferenciaMercadoriaCDService">
    <wsdl:port name="CriarTransferenciaMercadoriaCDPort" binding="tns:CriarTransferenciaMercadoriaCDPortBinding">
      <soap:address location="http://service.ultra.com.br/logistica/CriarTransferenciaMercadoriaCD/v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>