MercadoriaAtacadoIntegracaoBPEL/SOA/WSDLs/MercadoriaAtacadoV1.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="MercadoriaAtacado"
     targetNamespace="http://service.ultra.com.br/atacado/MercadoriaAtacado/v1"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:tns="http://service.ultra.com.br/atacado/MercadoriaAtacado/v1"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:Q2="http://service.ultra.com.br/infcorp/LogIntegration/v1"
     xmlns:Q3="http://canonico.ultra.com.br/infcorp/v1"
    >
    <wsp:Policy wsu:Id="wss_username_token_over_ssl_service_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
         xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
         xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
        <sp:UsernameToken>
            <wsp:Policy>
                <sp:WssUsernameToken11/>
            </wsp:Policy>
        </sp:UsernameToken>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://service.ultra.com.br/atacado/MercadoriaAtacado/v1" elementFormDefault="qualified">
            <xsd:include schemaLocation="../Schemas/MercadoriaAtacadoEBMV1.xsd"/>
            <xsd:import schemaLocation="oramds:/apps/Extrafarma/Retail/Comum/v1/Schemas/Fault.xsd" namespace="http://canonico.ultra.com.br/infcorp/v1"/>
            <xsd:import schemaLocation="oramds:/apps/Extrafarma/Retail/Comum/v1/Schemas/MetaInformacao.xsd" namespace="http://service.ultra.com.br/infcorp/LogIntegration/v1"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="DevolucaoMercadoriaAtacadoRequest">
        <wsdl:part name="parameters" element="tns:DevolucaoMercadoriaAtacadoRequest"/>
    </wsdl:message>
    <wsdl:message name="DevolucaoMercadoriaAtacadoResponse">
        <wsdl:part name="parameters" element="tns:DevolucaoMercadoriaAtacadoResponse"/>
    </wsdl:message>
    <wsdl:message name="DevolucaoMercadoriaAtacadoFaultMsg">
        <wsdl:part name="DevolucaoMercadoriaAtacadoFault" element="Q3:Fault"/>
    </wsdl:message>
    <wsdl:message name="requestHeader">
        <wsdl:part name="parameters" element="Q2:MetaInformacao"/>
    </wsdl:message>
    <wsdl:portType name="MercadoriaAtacadoPortType">
        <wsdl:operation name="devolucaoMercadoriaAtacado">
            <wsdl:input message="tns:DevolucaoMercadoriaAtacadoRequest"/>
            <wsdl:output message="tns:DevolucaoMercadoriaAtacadoResponse"/>
            <wsdl:fault name="DevolucaoMercadoriaAtacadoFault" message="tns:DevolucaoMercadoriaAtacadoFaultMsg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MercadoriaAtacadoPortBinding" type="tns:MercadoriaAtacadoPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="devolucaoMercadoriaAtacado">
            <soap:operation soapAction="http://service.ultra.com.br/MercadoriaAtacado/v1/devolucaoMercadoriaAtacado"/>
            <wsdl:input>
                <soap:header message="tns:requestHeader" part="parameters" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DevolucaoMercadoriaAtacadoFault">
                <soap:fault name="DevolucaoMercadoriaAtacadoFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MercadoriaAtacadoService">
        <wsdl:port name="MercadoriaAtacadoPort" binding="tns:MercadoriaAtacadoPortBinding">
            <soap:address location="http://service.ultra.com.br/atacado/MercadoriaAtacado/v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
