MDS/SOA/apps/Extrafarma/Retail/NFSaidaMercadoria/v1/WSDLs/NFSaidaMercadoriaV1.wsdl

<wsdl:definitions name="NFSaidaMercadoria" targetNamespace="http://service.ultra.com.br/fiscal/NFSaidaMercadoria/v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://service.ultra.com.br/fiscal/NFSaidaMercadoria/v1"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:Q2="http://service.ultra.com.br/infcorp/LogIntegration/v1"
                  xmlns:Q3="http://canonico.ultra.com.br/infcorp/v1"
                  xmlns:Q4="http://canonico.ultra.com.br/LegadoOutput/v1"
                  xmlns:Q5="http://canonico.ultra.com.br/LegadoFault/v1"
                  xmlns:rib="http://www.oracle.com/retail/integration/rib/RibMessages">
  <wsp:Policy wsu:Id="wss_username_token_over_ssl_service_policy"
              xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
              xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
              xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
    <sp:UsernameToken>
      <wsp:Policy>
        <sp:WssUsernameToken11/>
      </wsp:Policy>
    </sp:UsernameToken>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.ultra.com.br/fiscal/NFSaidaMercadoria/v1"
                elementFormDefault="qualified">
      <xsd:include schemaLocation="../Schemas/NFSaidaMercadoriaEBMV1.xsd"/>
      <xsd:import schemaLocation="../../../Comum/v1/Schemas/Fault.xsd"
                  namespace="http://canonico.ultra.com.br/infcorp/v1"/>
      <xsd:import schemaLocation="../../../Comum/v1/Schemas/LegadoOutput.xsd"
                  namespace="http://canonico.ultra.com.br/LegadoOutput/v1"/>
      <xsd:import schemaLocation="../../../Comum/v1/Schemas/LegadoFault.xsd"
                  namespace="http://canonico.ultra.com.br/LegadoFault/v1"/>
      <xsd:import schemaLocation="../Schemas/RibMessages.xsd"
                  namespace="http://www.oracle.com/retail/integration/rib/RibMessages"/>
      <xsd:import schemaLocation="../../../Comum/v1/Schemas/MetaInformacao.xsd"
                  namespace="http://service.ultra.com.br/infcorp/LogIntegration/v1"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestHeader">
    <wsdl:part element="Q2:MetaInformacao" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CriarNFSaidaMercadoriaRequest">
    <wsdl:part element="tns:CriarNFSaidaMercadoriaRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CriarNFSaidaMercadoriaResponse">
    <wsdl:part element="tns:CriarNFSaidaMercadoriaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CriarNFSaidaMercadoriaFaultMsg">
    <wsdl:part name="CriarNFSaidaMercadoriaFault" element="Q3:Fault"/>
  </wsdl:message>
  <wsdl:message name="PublicacaoNFSaidaMercadoriaRequest">
    <wsdl:part name="parameters" element="rib:RibMessages"/>
  </wsdl:message>
  <wsdl:message name="PublicacaoNFSaidaMercadoriaResponse">
    <wsdl:part name="parameters" element="Q4:RetornoServico"/>
  </wsdl:message>
  <wsdl:message name="PublicacaoNFSaidaMercadoriaFaultMsg">
    <wsdl:part name="PublicacaoNFSaidaMercadoriaFault" element="Q5:RetornoServicoFault"/>
  </wsdl:message>
  <!--HEADER-->
  <wsdl:portType name="NFSaidaMercadoriaPortType">
    <wsdl:operation name="criarNFSaidaMercadoria">
      <wsdl:input message="tns:CriarNFSaidaMercadoriaRequest"/>
      <wsdl:output message="tns:CriarNFSaidaMercadoriaResponse"/>
      <wsdl:fault name="CriarNFSaidaMercadoriaFault" message="tns:CriarNFSaidaMercadoriaFaultMsg"/>
    </wsdl:operation>
    <wsdl:operation name="publicacaoNFSaidaMercadoria">
      <wsdl:input message="tns:PublicacaoNFSaidaMercadoriaRequest"/>
      <wsdl:output message="tns:PublicacaoNFSaidaMercadoriaResponse"/>
      <wsdl:fault name="PublicacaoNFSaidaMercadoriaFault" message="tns:PublicacaoNFSaidaMercadoriaFaultMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NFSaidaMercadoriaPortBinding" type="tns:NFSaidaMercadoriaPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="criarNFSaidaMercadoria">
      <soap:operation soapAction="http://service.ultra.com.br/NFSaidaMercadoria/v1/criarNFSaidaMercadoria"/>
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="parameters" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CriarNFSaidaMercadoriaFault">
        <soap:fault use="literal" name="CriarNFSaidaMercadoriaFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="publicacaoNFSaidaMercadoria">
      <soap:operation soapAction="http://service.ultra.com.br/NFSaidaMercadoria/v1/publicacaoNFSaidaMercadoria"/>
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="parameters" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PublicacaoNFSaidaMercadoriaFault">
        <soap:fault name="PublicacaoNFSaidaMercadoriaFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFSaidaMercadoriaService">
    <wsdl:port binding="tns:NFSaidaMercadoriaPortBinding" name="NFSaidaMercadoriaPort">
      <soap:address location="http://service.ultra.com.br/fiscal/NFSaidaMercadoria/v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>